body {
    padding-bottom: 32px;
}

nav {
    position: relative;
}

header {
    margin: 32px 64px;

    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
}

.panel {
    background-color: #1b1d1e;
    border-radius: 16px;
    margin-left: 64px;
    border: 2px solid #4f4f4f;
    align-self: flex-start;
    user-select: none;
    overflow: hidden;
    min-width: fit-content;
}

.panel ul {
    padding: 0;
    list-style-type: none;
    color: #a7a7a7;
}

.panel ul li{
    padding: 4px 16px;
    margin-bottom: 4px;
}

.panel ul li:not(.subtitle) {
    display: flex;
    align-items: center;
    gap: 8px;
}

.panel ul li img {
    filter: invert(60%);
}

.panel ul li div {
    flex: 0 0 32px;
    text-align: center;
}

.panel-subtitle {
    display: flex;
    align-items: center;
    color: #4f4f4f;
}

.panel-subtitle span {
    display: block;
    width: 50px;
    height: 4px;
    margin-right: 4px;
    background-color: #4f4f4f;
}

.panel ul li {
    border-left: solid 2px #1b1d1e;
}

.panel ul .active {
    border-left: solid 2px #52b5ef;
    background-image: linear-gradient(to right, #1b6687 35%, #1b1d1e 60%);
    color: #35b1ea;
}

.panel ul li:not(.panel-subtitle):hover {
    cursor: pointer;
    border-left: solid 2px #52b5ef;
    background-image: linear-gradient(to right, #1b6687 35%, #1b1d1e 60%);
    color: #35b1ea;
}

/* Main Content Styles */
.content > *:not(.content > *:first-of-type) {
    display: none;
}

.content {
    margin-left: 64px;
}

.option-card {
    border: none;
    padding: 0;
    background-color: #1c1c1c;
    overflow: hidden;
    max-width: 540px;
    border-radius: 16px;
    margin-top: 32px;
}

.option-card img {
    object-fit:contain;
}

.option-card .img-url {
    width: 100%;
}

.option-card textarea {
    width: 100%;
    resize: none;
    overflow-y: hidden;
}

.option-card input, .option-card textarea, button {
    background-color: #1c1c1c;
    color: #ffffff;
    border: 1px solid #333333;
}

.option-card input {
    margin-bottom: 8px;    
}

.card-footer {
    padding: 16px;
}

.blue {
    color: #52b5ef;
}

.form-submit-button {
    width: 100%;
    margin: 32px 0;
    padding: 8px 0;
    background-color: #1c1c1c;
    color: white;
    border: 1px solid white;
}

.thumbnail {
    width: 540px;
    height: 375px;
}

.img-placeholder {
    display: block;
    background-color: hsl(0, 0%, 15%);
    width: 540px;
    height: 375px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-placeholder:hover {
    cursor: pointer;
}

.delete-button {
    user-select: none;
    color: hsl(0, 100%, 80%);
    border: 1px solid hsl(0, 100%, 80%);
}

.delete-button:hover {
    cursor: pointer;
}

.homepage-fieldset {
    margin-bottom: 12px;
    padding: 8px;
    display: flex;
    gap: 16px;
}

.indent {
    margin-left: 16px;
}

.type-select {
    align-self: flex-start;
    background-color: #1c1c1c;
    color: white;
    padding: 4px;
}

.homepage-textarea {
    background-color: #1c1c1c;
    color: white;
    resize: none;
}

.homepage-button-container {
    display: flex;
    gap: 8px;
    height: fit-content;
}

.homepage-button-container button {
    aspect-ratio: 1;
    transition: 100ms linear;
}

.homepage-button-container button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}