/* Page Styles */
* { 
    margin: 0; /* removes default margin */
    scroll-behavior: smooth;
}

body {
    background-color: #131313;
    font-family: ECB_Light;
    color: #ffffff;

    overflow: hidden;
}