/* Page Styles */
* { 
    margin: 0; /* removes default margin */
    scroll-behavior: smooth;
}

body {
    background-color: #131313;
    font-family: ECB_Light;
    color: #ffffff;

    opacity: 0;
    animation: FadeInAnimation 1s ease;
    animation-iteration-count: 1;
    animation-delay: 250ms;
    animation-fill-mode: forwards;
}

@keyframes FadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.section-title>span:first-of-type {
    height: 2px;
    width: 100px;
    background-color: white;
}

.section-title>* {
    margin-right: 16px;
}