body {
    overflow: hidden;
}

/* Page Header Styles */
header {
    display: flex;
    align-items: center;
    height: 100vh;
}

header article {
    display: block;
}


/* Section Styles */

body>section {
    margin-left: 64px;
    height: fit-content;
    opacity: 100%;
    transition: linear 0.25s opacity;
}

body>section:not(.selected) {
    opacity: 20%;
}

body>section {
    margin-bottom: 180px;
}

/* body>section>article {
    height: 18px;
    margin-top: 4px;
} */

body>section>article:last-of-type>* {
    margin-bottom: 16px;
}

.contact-handle {
    display: flex;
    align-items: center;
}

.contact-handle img {
    height: 32px;
    margin-right: 16px;
}

.content-handle>*:first-of-type {
    margin-right: 16px;
}

/* Scroll Indicator Styles */
.indicator-container {
    width: 100vw;
    position: fixed;
    bottom: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1100px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}