nav {
    position: relative;
}

header {
    margin-left: 64px;
    margin-top: 64px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    justify-content: center;

    margin: 32px 64px;
}

.project-card {
    background-color: #1c1c1c;
    overflow: hidden;
    max-width: 540px;
    border-radius: 16px;
}

.project-card>img {
    width: 100%;
    height: auto;
    aspect-ratio: 540 / 375;
}

.card-footer {
    padding: 16px;
}

.blue {
    color: #52b5ef;
}

.carousel-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);

    top:0;
    left:0;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.carousel-container {
    user-select: none;
}

.hidden {
    display: none;
}

.move-left, .move-right {
    display: block;
    width: 50px;
    height: 50px;
    /* background-color: white; */
}

.move-left:hover, .move-right:hover {
    cursor: pointer;
}