nav {
    position: relative;
}

header {
    margin-left: 64px;
    margin-top: 64px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    justify-content: center;

    margin: 32px 64px;
}

.project-card {
    background-color: #1c1c1c;
    overflow: hidden;
    max-width: 540px;
    border-radius: 16px;
}

.project-card>img {
    width: 100%;
    height: auto;
    aspect-ratio: 540 / 375;
}

.card-footer {
    padding: 16px;
}

.blue {
    color: #52b5ef;
}

.carousel-viewer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
}

.carousel-viewer img {
    max-width: 70vw;
}

.carousel-controls {
    margin: 8px
}

.carousel-viewer button {
    background-color: #1c1c1c;
    color: white;
    border: none;
}

@media screen and (max-width: 420px) {
    .carousel-viewer {
        flex-direction: column;
    }
}